body {
    font-family: Arial, sans-serif;
}

#fighter-selection, #game-container {
    text-align: center;
    margin-top: 50px;
}

#fighter-selection input[type="radio"], #game-container select {
    margin-right: 10px;
}

#game-container {
    display: none;
}

#player1-info, #player2-info {
    display: inline-block;
    margin-right: 20px;
}

#player1-info, #player2-info > div {
    margin-bottom: 10px;
}
